:root {
  --primary: #2563eb;
  --primary-hover: #1d4ed8;

  --bg: #f1f5f9;
  --card: #ffffff;

  --text: #0f172a;
  --text-light: #64748b;

  --success: #16a34a;
  --border: #e2e8f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", system-ui, sans-serif;
  background-color: var(--bg);
  color: var(--text);
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}
